.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul{
    list-style: none;
    display: flex;
}

ul li{
    display: inline-block;
    margin-right: 10px; /* add spacing between items */
}

nav ul li a{
   color: white;
   text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

#search{
    width: 100vh;
    height: 4vh;
    font-size: 20px;
}

main{
   height: 100vh;
}

footer{
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
