.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#new-post-form{
  align-items: center;
  display: flex;
  flex-direction: column;
}

#new-post-form label{
  align-items: left;
}


#new-post-form input{
    margin-top: 10px;
    width: 50%;
    height: 4vh;
}

#new-post-form textarea{
    margin-top: 10px;
    width: 50%;
    height: 10vh;
}

#new-post-form button{
    height: 4vh;
    margin-top: 20px;
    width: 50%;
}

ul{
   list-style: none;
   text-align: left;
}

ul li a{
   color: #282c34;
   text-decoration: none;
}

header ul{
    list-style: none;
    display: flex;
}

main article{
    text-align: left;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#divider{
  width: 30%;
}

#about{
   margin-top: 40px;
}

header ul li{
    display: inline-block;
    margin-right: 10px; /* add spacing between items */
}

nav ul li a{
   color: white;
   text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

#search{
    width: 100vh;
    height: 4vh;
    font-size: 20px;
}

main{
  min-height: 50vh;
}

footer{
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
